.domotica {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 100vh;           
}


.cambioTema{
    margin-bottom: 20px;
}



.lampada{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: grey;
}

.luceCalda{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
}

.luceFredda{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(233, 233, 198);
}

.dark-theme{
    background-color: #121212;
    color: white;
}
